li a {
    color: green;
}

body {
     background: url("images/background.gif");
     background-size: cover;
     background-repeat: no-repeat;
}

div{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

form{
	text-align: left;
	font-family: "Arial", sans-serif
}