<!DOCTYPE html>
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'group_form/style.css' %}"/>
	<head>
		<meta charset="utf-8">
		<title>Add a User to Group</title>
	</head>
	<body class="body">
	  <div class="div">
		<form class="form"  action = "{% url "add_user" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ add_user_group_form.as_p }}
			<!--{{ add_user_group_form.as_p }} -->
			<p> <input type="submit" value="Add User" /></p>
		</form>
		</div>
	</body>
</html>