{% extends "base.html" %}

{% block content %}

<div class="col-md-8">
  {% block report_content %}
  {% endblock %}
</div>
<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Unsorted</a></li>
    <li><a href="#">Diplomatic Cables</a></li>
    <li><a href="#">NSA Files</a></li>
    <li>
        <div> <br><br>
	        {% for field in form %}
            {{ field.error }}
            {% endfor %}

            <form action="" method="post">{% csrf_token %}
            {{ form.as_ul }}

            <input type="submit" value="New Folder" style="color: red;"/>
	    </div>
    </li>
  </ul>
</div>

{% endblock %}
