{% extends "base.html" %}
{% load folder_retrieval %}
{% load filter_by_permissions %}
{% block content %}

<div class="col-md-8">
  {% block report_content %}
  {% endblock %}
</div>
<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked">
      {% url 'report_form:my_reports' request.user.id as all_url %}
      {% if request.path == all_url %}
            <li class="active"><a href="{% url 'report_form:my_reports' request.user.id %}">All Reports</a></li>
        {% else %}
            <li><a href="{% url 'report_form:my_reports' request.user.id %}">All Reports</a></li>
        {% endif %}

      {% url 'report_form:folder_detail' 1 as unsorted_url %}
      {% if request.path == unsorted_url %}
            <li class="active"><a href="{% url 'report_form:folder_detail' 1 %}">Unsorted Reports</a></li>
        {% else %}
            <li><a href="{% url 'report_form:folder_detail' 1 %}">Unsorted Reports</a></li>
        {% endif %}
      {% for folder in request.user.profile|retrieve_folders|dictsort:"name" %}
        {% url 'report_form:folder_detail' folder.id as the_url %}
        {% if request.path == the_url %}
            <li class="active"><a href="{% url 'report_form:folder_detail' folder.id %}">{{folder.name}}</a></li>
        {% else %}
            <li><a href="{% url 'report_form:folder_detail' folder.id %}">{{folder.name}}</a></li>
        {% endif %}
      {% endfor %}
    <li><a href="{% url 'report_form:new_folder' %}" style="color: red;">+ New Folder</a></li>
  </ul>
</div>

{% endblock %}
