{% extends "base.html" %}
{% block title %}Home {% endblock %}

{% block report_content %}
{% endblock %}

{% block content %}
 <p>Welcome to Secure Witness!</p>

You are {% if admin %} {% else %} not {% endif %} an admin.

    Your name is {{ name }}
{% endblock %}
	
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% for field in form %}
        {{ field.error }}
    {% endfor %}

    <form action="/dashboard/profile/" method="post">{% csrf_token %}
    {{ form.as_ul }}

    <input type="submit" value="Update" />

    </form>
</body>
</html>