{% extends "base_reports.html" %}

{% block report_content %}
<div class="body">
<h1>Welcome to Secure Witness, {{ request.user.profile.name }}!</h1><br>
	
    <ul>You are {% if request.user.is_swadmin %} {% else %} not {% endif %} an admin.</ul>

    <ul>Your username is {{ request.user.username }}.</ul>
    <ul>Your e-mail address is {{ request.user.email }}.</ul>
    {% if groups %}
    <ul>You are in the following groups: </ul>
        {% for group in groups %}
        <ul>{{group.name}}</ul>
        {% endfor %}
    {% else %}
        <ul>You are not in any groups :(</ul>
    {% endif %}
        <h2>{{ status }}</h2>
	<div> 
		<br>
		<br>

        <form action="/accounts/profile/" method="post">{% csrf_token %}
        <p><b>New name: </b>
            <input type="text"  name="name" /> </p>
            <p><b>New email: </b>
            <input type="text"  name="email" /> </p>
            <p><b>New username: </b>
            <input type="text"  name="username" /> 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
            <p><b>New password: </b>
            <input type="password"  name="password" /> </p>
        <p><b>Confirm your current password: </b>
            <input type="password"  name="conf_password" /> </p>
        <input type="submit" value="Update" />
	</div>
		
		
</div>
{% endblock %}
