{% extends "base_reports.html" %}

{% block report_content %}
<div class="body">
<h1>Welcome to Secure Witness, {{ request.user.profile.name }}!</h1><br>
	
    <ul>You are {% if request.user.is_swadmin %} {% else %} not {% endif %} an admin.</ul>

    <ul>Your username is {{ request.user.username }}.</ul>
    {% if groups %}
    <ul>You are in the following groups: </ul>
        {% for group in groups %}
        <ul>{{group.name}}</ul>
        {% endfor %}
    {% else %}
        <ul>You are not in any groups :(</ul>
    {% endif %}

	<div> 
		<br>
		<br>
	{% for field in form %}
        {{ field.error }}
		
		
    {% endfor %}

    <form action="/dashboard/profile/" method="post">{% csrf_token %}
    {{ form.as_ul }}

    <input type="submit" value="Update" />
	</div>
		
		
</div>
{% endblock %}
