{% extends "base.html" %}

{% block content %}

<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Name</th>
        <th>Admin?</th>
        <th>Active?</th>
        <th>Make Admin</th>
        <th>Suspend</th>
      </tr>
    </thead>
    <tbody>
    {% for group in groups %}
    {% endfor %}
    </tbody>
  </table>

</div>
<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/swadmin/users">Users</a></li>
    <li class="active"><a href="/swadmin/groups">Groups</a></li>
    <li><a href="#" style="color: red;">+ New Group</a></li>
  </ul>
</div>


{% endblock %}
