{% extends "base_reports.html" %}

{% block title %}List of Reports{% endblock %}

{% block content %}
	<head>
		<meta charset="utf-8">
		<title>Reports</title>
	</head>
	<body class="body">
	  <div class="div">
		<form class="form"  action = "#" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h1>Index of Reports</h1>
		{% if my_reports %}
			{% for indiv in my_reports %}
			<p>Description= {{ indiv.short_description }}</p>
			<a href= "{% url 'detail' indiv.id  %}">
			<button type="button">view submitted report</button></a>
			<input type="submit" name={{ indiv.id }} value="delete report"/>
			{% endfor %}
		{% else %}
			<p> no reports yet submitted </p>
		{% endif %}
		</form>
		</div>
	</body>

{% endblock %}