{% extends "base.html" %}

{% block content %}

<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Name</th>
        <th>Admin?</th>
        <th>Active?</th>
        <th>Make Admin</th>
        <th>Suspend</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user }}</td>
          <td>{{ user.profile.name }}</td>
          <td>{{ user.profile.admin }}</td>
          <td>{{ user.is_active }}</td>
          <td>
            {% if user.profile.admin %}
              Is Admin
            {% else %}
              <a href="/swadmin/users/makeadmin/{{ user.id }}">Make Admin</a>
            {% endif %}
          </td>
          <td>
            {% if user.profile.admin %}
              Can't Suspend
            {% elif user.is_active %}
              <a href="/swadmin/users/suspend/{{ user.id }}">Suspend</a>
            {% else %}
            <a href="/swadmin/users/unsuspend/{{ user.id }}">Unsuspend</a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
<div class="col-md-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/swadmin/users">Users</a></li>
    <li><a href="/swadmin/groups">Groups</a></li>
    <li><a href="#" style="color: red;">+ New Group</a></li>
  </ul>
</div>


{% endblock %}
