{% extends "base_reports.html" %}

{% block title %}Report Detail{% endblock %}

{% block content %}

	<head>
		<meta charset="utf-8">
		<title>Report Detail</title>
	</head>
		<h1>Report Detail for Report #{{report.id}}</h1>
		{% if report %}
			<p>Author = {{ report.author.user.username }} </p>
			<p>Description = {{ report.short_description }} </p>
			<p>Location = {% if report.location == '' %} None given {% else %} {{report.location}} {% endif %}</p>
			<p>Detailed Description = {{report.detailed_description}} </p>
			<p>Date of Incident = {{report.date_of_incident}} </p>
			<p>Folder = {{report.folder.name }} </p>
			<p>This report is {% if report.private %} private{% else %} public{% endif %}. </p>
			<p><b>Permissions</b></p>
			{% if p.groups.all or p.profiles.all %}
			<ul>
			{% for g in p.groups.all %}
				<li>{{g.name}}</li> 
			{% endfor %}
			</ul>
			<ul>
				{% for v in p.profiles.all %}
				<li>{{v.user.username}}</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No permissions to show</p>
			{% endif %}
			<p><b>Files </b></p>
			{% if files %}
				<ul>
				{% for inputfile in files %}
					<li><a href= "{% url 'report_form:download' inputfile.id %}">{{ inputfile.title }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<p> No files yet uploaded </p>
			{% endif %}
			<p><b>Keywords </b></p>
			{% if tags %}
				<ul>
				{% for input_tag in tags %}
					<li>{{ input_tag.keyword }}</li>
				{% endfor %}
				</ul>
			{% else %}	
				<p> no keywords associated with this report </p>		
			{% endif %}
			<p>Time Created = {{report.time_created}}</p>
			<p>Time Modified= {{report.time_last_modified}} </p>

		{% else %}
			<p> shouldn't be here </p>
		{% endif %}

{% endblock %}