<!DOCTYPE html>
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'report_form/style.css' %}"/>
	<head>
		<meta charset="utf-8">
		<title>My Reports</title>
	</head>
	<body class="body">
	  <div class="div">
		<form class="form"  action = "{% url 'my_reports' profile.id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h1>Reports Submitted</h1>
		{% if my_reports %}
			{% for indiv in my_reports %}
			<p>Description= {{ indiv.short_description }}</p>
			<a href= "{% url 'detail' indiv.id  %}">
			<button type="button">view submitted report</button></a>
			<a href= "{% url 'edit' indiv.id  %}">
			<button type="button">edit report</button></a>
			<input type="submit" name={{ indiv.id }} value="delete report"/>
			{% endfor %}
		{% else %}
			<p> no reports yet submitted </p>
		{% endif %}
		</form>
		</div>
	</body>
</html>