{% extends 'base_reports.html' %}

{% block report_content %}
	<div class="body">
		<form class="form"  action = "{% url 'edit' report.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ input_report_form.as_p }}
			{% if files %}
			<p><b>Uploaded Files: </b></p>
				<ul>
				{% for inputfile in files %}
					<li><a href= "{{ inputfile.file.url }}">{{ inputfile.title }}</a> <input type="submit" name = {{ inputfile.id }} value="delete" /></li>
				{% endfor %}
				</ul>
			{% else %}
				<p> No files yet uploaded </p>
			{% endif %}
			<input type="file" name="file" multiple />
			{% if tags %}
			<p><b>Keywords: </b></p>
				<ul>
				{% for input_tag in tags %}
					<li>{{ input_tag.keyword }}</li>
				{% endfor %}
				</ul>
			{% else %}
				<p> no keywords associated with this report </p>
			{% endif %}
			{{ input_tag_form.as_p }}
			<p> <input type="submit" name= "add_kword" value="Add another keyword" /></p>
			<p> <input type="submit" name= "submission" value="Submit Report" /></p>
		</form>
	</div>
{% endblock %}
