{% extends "base_reports.html" %}

{% block title %}Edit Folder: "{{folder.name}}"{% endblock %}

{% block report_content %}


<div class="col-md-8">
  <form method="POST" action="{% url 'report_form:edit_folder' folder.id %}">
      {% csrf_token %}
      <h1>Edit Folder: "{{folder.name}}"</h1>
      <label>New Folder Name:</label><br />
      <input type="text" name="folder_name" /><br /><br />
      <label>Select which Reports to add:</label><br />
      {% if not reports %}
        <p>
            No unsorted reports.<br />
        </p>
      {% endif %}

      {% for report in reports %}
        <input type="checkbox" value="{{report.id}}" name="selected_reports" /> {{ report.short_description }}<br />

      {% endfor %}

    <input type="submit" value="Update Folder" />
  </form>
</div>


{% endblock %}