{% extends "base_reports.html" %}
{% load folder_retrieval %}

{% block title %}Create Report{% endblock %}

{% block report_content %}

	<head>
		<meta charset="utf-8">
		<title>Report Form submission</title>
	</head>
	<body class="body">
	  <div class="div">
		<form class="form"  action = "{% url 'report_form:submission' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h1>Submit A Report</h1>
			{{ input_report_form.as_p }}
			<p><b>Folder</b></p>
			{% if request.user.profile|retrieve_folders %}
			{% for f in request.user.profile|retrieve_folders %}
				<select id="folder" name="folder">
				<option  value= {{f.id}} > {{f.name}} </option>
			{% endfor %}
				<option  value= {{f.id}} > None </option>
				</select>
				<br />
			{% else %}
			<p>No folders to show</p> 
			{% endif %}
			<br/ >
			<p><i>You don't need to add permissions if your report is public!</i></p>
			<label>Add group visibility</label> <br />
			{% if groups %}
				{% for group in groups %}
				<input type="checkbox" value= {{group.id}} name="group_names"/> {{group.name}} <br />
				{% endfor %}
			{% else %}
			<p>You aren't a member of any group</p>
			{% endif %}	
			<br />
			<label>Add users</label><br />
			<input type="text" name="viewers" /><br /><br />
			<input type="file" name="file" multiple />
			{{ input_tag_form.as_p }}
			<p> <input type="submit" name= "add_kword" value="Add another keyword" /></p>
			<p> <input type="submit" name= "submission" value="Submit Report" /></p>
		</form>
		</div>
	</body>


{% endblock %}