<!DOCTYPE html>
<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'report_form/style.css' %}"/>
	<head>
		<meta charset="utf-8">
		<title>{% if link == 'simple_search' %}Simple Search{% else %}Advanced Search{% endif %}</title>
		<body class="body">
	 		 <div class="div">
				<form class="form"  action = "{% url link %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ search_form.as_p }}
			<p> <input type="submit" name= "submission" value="Search" /></p>
				</form>

		{% if not empty %}
				<h1>Query Results for "{{query_string}}" </h1>
		{% if results %}
			{% for indiv in results %}
				{% if public_only %}
					{% if not indiv.private %}
						<p>Description= {{ indiv.short_description }}
						<a href= "{% url 'detail' indiv.id  %}">
						<button type="button">view report</button></a> </p>
					{% endif %}
				{% else %}
					<p>Description= {{ indiv.short_description }}
					<a href= "{% url 'detail' indiv.id  %}">
					<button type="button">view report</button></a></p>
				{% endif %}
			{% endfor %}
		{% else %}
			<p> no reports to show </p>
		{% endif %}
		{% endif %}
			</div>
		</body>
	</head>
</html>/