{% extends "base_reports.html" %}

{% block title %}Search{% endblock %}

{% block report_content %}
		<head>
		<meta charset="utf-8">
		<title>{% if link == 'report_form:simple_search' %}Simple Search{% elif link == 'report_form:advanced_search' %}Advanced Search{% else %}Search Reports{% endif %}</title>
	</head>

		<body class="body">
	 		 <div class="div">
				<form class="form"  action = "{% url link %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<h1>{% if link == 'simple_search' %}Simple Search{% elif link == 'advanced_search' %}Advanced Search{% else %}Search Reports{% endif %}</h1>

			{{ search_form.as_p }}
			<p> <input type="submit" name= "submission" value="Search" /></p>
				</form>

		{% if not empty %}
				<h1>Query Results for "{{query_string}}" </h1>
		{% if results %}
			{% for indiv in results %}
				{% if public_only %}
					{% if not indiv.private %}
						<p>Description= {{ indiv.short_description }}
						<a href= "{% url 'detail' indiv.id  %}">
						<button type="button">view report</button></a> </p>
					{% endif %}
				{% else %}
					<p>Description= {{ indiv.short_description }}
					<a href= "{% url 'detail' indiv.id  %}">
					<button type="button">view report</button></a></p>
				{% endif %}
			{% endfor %}
		{% else %}
			<p> no reports to show </p>
		{% endif %}
		{% endif %}
			</div>
		</body>
{% endblock %}