{% extends "base_reports.html" %}
{% load filter_by_permissions %}

{% block title %}Search{% endblock %}

{% block report_content %}
		<head>
		<meta charset="utf-8">
		<title>{% if link == 'report_form:simple_search' %}Simple Search{% elif link == 'report_form:advanced_search' %}Advanced Search{% else %}Search Reports{% endif %}</title>
	</head>

		<body class="body">
	 		 <div class="div">
				<form class="form"  action = "{% url link %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<h1>{% if link == 'simple_search' %}Simple Search{% elif link == 'advanced_search' %}Advanced Search{% else %}Search Reports{% endif %}</h1>

			{{ search_form.as_p }}
			<p> <input type="submit" name= "submission" value="Search" /></p>
				</form>

		{% if not empty %}
				<h1>Query Results for "{{query_string}}" </h1>
		{% if results|filter_by_permissions %}
			{% for indiv in results|filter_by_permissions %}
				{% if public_only %}
					{% if not indiv.private %}
						<a href= "{% url 'report_form:detail' indiv.id  %}"><span style="font-size:18px;"><strong>
			            {{ indiv.short_description }}</strong></span></a> - {{ indiv.author }}
                    {% if indiv.date_of_incident %}
                        - {{ indiv.date_of_incident }}
                    {% endif %}
                    <p>{{ indiv.detailed_description|slice:":200" }} ... </p>
					{% endif %}
				{% else %}
					<a href= "{% url 'report_form:detail' indiv.id  %}"><span style="font-size:18px;"><strong>
			        {{ indiv.short_description }}</strong></span></a> - {{ indiv.author }}
                    {% if indiv.date_of_incident %}
                        - {{ indiv.date_of_incident }}
                    {% endif %}
                    <p>{{ indiv.detailed_description|slice:":200" }} ... </p>
				{% endif %}
			{% endfor %}
		{% else %}
			<p> no reports to show </p>
		{% endif %}
		{% endif %}
			</div>
		</body>
{% endblock %}
