<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Form submitted</title>
		<h1>REPORT SUBMITTED - THANK YOU</h1>
		{% if submission %}
			<p>Username= {{ submission.author.user.username }} </p>
			<p>Description= {{ submission.short_description }} </p>
		{% else %}
			<p> Form invalid </p>
		{% endif %}

		{% if files %}
			<ul>
			{% for inputfile in files %}
				<li>{{ inputfile.title }}</li>
				<li><a href= "{% url 'download' inputfile.id %}">{{ inputfile.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
				<p> No files yet uploaded </p>
		{% endif %}
		<a href= "{% url 'my_reports' submission.author.user.id  %}">
		<button type="button">view my reports</button></a>
	</head>
</html>
