{% extends "base_reports.html" %}

{% block title %}Reports Index{% endblock %}

{% block report_content %}

	<head>
		<meta charset="utf-8">
		<title>Reports Index</title>
	</head>
		<body class="body">
	  <div class="div">
		{% if list_reports %}
			<h1>{% if filter == 'shared' %} Reports Shared With Me {% else %} Most Recent 5 Reports {% endif %}</h1>
			{% for indiv in list_reports %}
			<a href= "{% url 'report_form:detail' indiv.id  %}"><span style="font-size:18px;"><strong>
			        {{ indiv.short_description }}</strong></span></a> - {{ indiv.author }}
                    {% if indiv.date_of_incident %}
                        - {{ indiv.date_of_incident }}
                    {% endif %}
                    <p>{{ indiv.detailed_description|slice:":200" }} ... </p>
			{% endfor %}
		{% else %}
			<p> no reports to view </p>
		{% endif %}

		</div>
	</body>
{% endblock %}