{% extends "base_reports.html" %}
{% load filter_by_permissions %}

{% block title %}Reports Index{% endblock %}

{% block report_content %}

	<head>
		<meta charset="utf-8">
		<title>Reports Index</title>
	</head>
		<body class="body">
	  <div class="div">
		{% if list_reports|filter_by_permissions %}
			<h1>Reports Shared With Me</h1>
			{% for indiv in list_reports|filter_by_permissions %}
			{% if indiv.author != user.profile %}
			<p>Description= {{ indiv.short_description }}</p>   
			<a href= "{% url 'report_form:detail' indiv.id  %}">
			<button type="button">view submitted report</button></a>
			{% endif %}
			{% endfor %}
		{% else %}
			<p> no reports to view </p>
		{% endif %}

		</div>
	</body>
{% endblock %}